---
import { template } from "@/settings"
const { page } = Astro.props

// Verificar si hay más de 25 registros (5 páginas con 5 posts por página)
const totalRecords = page.total
const showPagination = totalRecords > 25
---
{showPagination && (
  <div class="join flex justify-center mt-8">
    {/* Previous button */}
    <a
          href={page.url.prev ? `${template.base}${page.url.prev}` : undefined}
      class:list={["join-item btn btn-sm", { "btn-disabled": !page.url.prev }]}
    >«</a>


    {/* Next button */}
    <a
          href={page.url.next ? `${template.base}${page.url.next}` : undefined}
      class:list={["join-item btn btn-sm", { "btn-disabled": !page.url.next }]}
    >»</a>
  </div>
)}
